{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>S'inscrire en tant que candidat</h1>
<div class="container">
    {{ include('user/_form.html.twig') }}
    <a class="btn btn-info mt-3" href="{{ path('app_login') }}">retour</a>
</div> 
{% endblock %}
